.header {
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
    padding: 15px 20px;
}

.header__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.header__title {
    font-size: 28px;
    color: #9f876e;
    font-weight: bold;
    margin: 0 auto;
}

.header__button {
    font-size: 15px;
    color: #c9b399;
    text-decoration: none;
    border: 1px solid #c9b399;
    padding: 0 20px;
    background-color: rgb(244, 241, 241)
}

.header__button:hover {
    background-color: #5e4633;
    color: #fff;
}